@charset "UTF-8";
.deco-box {
  height: 240px;
  width: 240px;
  background-color: #F8C3CD;
  position: relative;
}

.banner {
  background-image: url("../pic/banner.jpg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  position: absolute;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  .banner {
    background-image: url("../pic/banner_mobile.jpg");
    background-attachment: scroll; /* 手機不要用 fixed */
    background-size: cover; /* 或 cover，看你希望縮放還是鋪滿 */
    background-position: center center;
    max-width: 100%;
  }
}
.object-fit-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.bg-dark-gradient {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.custom-form-width {
  max-width: 200px; /* 自訂最大寬度，你也可以設成 350px、450px 看效果 */
}

.form-small {
  font-size: 14px; /* 或你想要的字體大小 */
}

.form-small input,
.form-small textarea,
.form-small label,
.form-small .form-check-label,
.form-small .valid-feedback,
.form-small .btn {
  font-size: 14px;
}

.form-small label {
  margin-bottom: 4px;
}